
.content .button{
  width: 100%;
  height: 40px !important;
  align-items: center;
  display: flex;
  justify-content: center !important;
  border-radius: 5px;
  margin-top: 15px;
}

.content{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

@media (max-width: 767px) {
  .login{
    width: 90%;
  }
  .login form{
    width: 100%;
    height: 200px !important;
    display:block !important;

  } 
  .login .logo{
    width: 200px !important;
  }
  .login input,.login select{
    background-color: white !important;
    width: 100% !important;
    height: 40px !important;
  }
}

@media (min-width: 768px) 
{
  .login{
    width: 400px;
  }
  .login form{
    width: 100%;
    height: 200px !important;
    display:block !important;

  } 
  .login .logo{
    width: 200px !important;
  }
  .login input,.login select{
    background-color: white !important;
    width: 100% !important;
    height: 40px !important;
  }
}