
.registrar .voltar{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .registrar {
    margin-top: 50px;
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: center;
  }
  .registrar form{
    width: 90%;
    height: 90% !important;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  .registrar .logo{
    display: none;
  }
  .registrar input,.registrar select{
  background-color: white !important;
  width: 100% !important;
  height: 40px !important;
}

}

@media (min-width: 768px) 
{
  .registrar {
    padding-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .registrar form{
    height: 400px !important;
  }  
  .registrar .logo{
    width: 500px;
    margin-right: 200px;
  }
  .registrar input,.registrar select{
    background-color: white !important;
    width: 350px !important;
    height: 40px !important;
  }
}

.alerta-erro{
  border-radius: 3px;
  padding: 5px;
  color: rgb(199, 0, 0);
}